body {
  background: #de07de;
}

@media (max-width: 576px) {
  body {
    background: #33eb19;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  body {
    background: #eb1515;
  }
}